.product-card {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-card .product-img {
    height: 400px;
    background-image: url("https://images.canadagoose.com/image/upload/w_480,c_scale,f_auto,q_auto:best/v1576016105/product-image/2409L_61.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--second-color);
}

.product-card .product-title {
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0 0 0;
}

.product-card .product-price {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0 10px 0;
}