.details-container {
    display: flex;
    width: 100%;
}

.details-container .product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}

.details-container .product-images img {
    border-radius: 10px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all ease-in-out .6s;
    border: 2px solid transparent;
}

.details-container .slider {
    position: relative;
    max-width: 45vw;
    max-height: min-content;
}

.details-container .slider .images {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.details-container .slider .images img {
    min-width: 55vw;
    border-radius: 10px;
    height: 70vh;
    flex-shrink: 0;
    flex-grow: 0;
    transition: all .3s ease-in-out;
    vertical-align: middle;
    text-align: center;
}

.details-container .slider .btn-slider {
    position: absolute;
    font-size: 30px;
    top: 50%;
    padding: 10px;
    border: none;
    background-color: hsla(0, 1%, 30%, .1);
    border-radius: 10px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.details-container .slider .forward {
    right: 5%;
}

.details-container .slider .backward {
    left: 5%;
}

@media (max-width:780px) {
    .details-container {
        flex-direction: column;
    }

    .details-container .product-images {
        order: 2;
        flex-direction: row;
        width: 100%;
        padding: 0;
    }

    .details-container .slider {
        order: 1;
        width: 100%;
        max-width: 100vw;
        max-height: max-content;
        margin-bottom: 10px;
    }

    .details-container .slider .images img {
        width: 100%;
        height: 50vh;
    }

    .product-details {
        order: 3;
    }
}


.product-details {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.product-details .product-title {
    font-weight: normal;
    font-size: 30px;
    margin: 30px 0;
}


.product-details .size {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid hsla(216, 8%, 12%, 1);
    background: hsla(0, 0%, 100%, 0.2);
    min-width: 50px;
    min-height: 30px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 14px;
}

.product-details .product-colors {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-details .product-color {
    min-width: 25px;
    min-height: 25px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid white;
}

.product-details .product-price {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.product-details .place-order-button {
    font-weight: 300;
    margin: 40px 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: var(--primary);
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--primary-hover);
    }
}